# 忽略操作系统文件
.DS_Store
Thumbs.db

# 忽略日志文件
*.log

# 忽略临时文件
*.tmp
*.swp
*.swo

# 忽略编译生成的文件
*.out
*.o
*.pyc
*.class
*.exe
*.dll

# 忽略 node_modules (Node.js 项目)
node_modules/

# 忽略 Python 虚拟环境 (Python 项目)
venv/
__pycache__/

# 忽略 IDE 生成的文件和配置文件
# VS Code
.vscode/

# IntelliJ / PyCharm
.idea/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/

# 忽略 MacOS 特有文件
.DS_Store

# 忽略 Windows 特有文件
Thumbs.db
